.pocket {
    display: flex;
    padding: 20px 0 0 80px;
}

.pocket-left {
    margin-top: 6%;
    margin-left: 2%;
    width: 48%;
    height: 30vw;
    /* background-image: url('../../../assets/new.png'); */
    position: relative;
    background-repeat: no-repeat;
}

.hpocket {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-box {
    width: 48%;
    height: 20vh;
    margin-top: -8%;
    margin-right: 6%;
    align-self: flex-end;
    background-color: rgb(233, 227, 227);
    border-radius: 30px;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-box {
    width: 48%;
    height: 20vh;
    align-self: flex-start;
    margin-top: 3%;
    margin-left: 6%;
    background-color: rgb(233, 227, 227);
    border-radius: 30px;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.box-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.text-content h2 {
    margin-bottom: 14px;
    font-size: 1.1em;
    font-weight: normal;
}

.text-content p {
    margin-bottom: 10px;
    font-size: 1.9em;
    font-weight: 600;
}

.r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.r img {
    width: 70%;
    margin-bottom: 12%;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 25px 0;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 24px;
    height: 24px;
}

.stats p, .stat-item p {
    display: flex;
    align-items: baseline;
    font-size: 0.9em;
}

.stats .unit, .stat-item .unit {
    font-size: 1em;
}

.pocket-right {
    width: 45%;
    margin-left: 1%;
    margin-top: 9%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.pocket-right h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.pocket-right span {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 600;
    color: #1E64F0;
    margin-bottom: 20px;
}

.pocket-right p {
    width: 85%;
    text-align: start;
    font-size: 1em;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .pocket {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .pocket-left {
        width: 44vh;
        height: 30vh;
        margin-top: 18%;
        background-image: url('../../../assets/mpocket_bg.png');
        background-position: center;
        background-size: cover;
        /* border-radius: 20px; */
    }

    .hpocket {
        width: 100%;
        gap: 10px;
    }

    .right-box, .left-box {
        width: 65%;
        height: 14.9vh;
        margin-top: -42px;
        margin-left: 0;
        margin-right: 0;
        align-self: center;
        padding: 20px;
        border-radius: 20px;
    }

    .right-box {

        margin-left: 60px;
    }

    .left-box {
        margin-top: 2px;
        margin-right: 60px;
    }

    .box {
        padding: 20px;
    }

    .text-content {
        font-size: 1rem;
    }

    .text-content h2 {
        font-size: 1em;
    }

    .text-content p {
        font-size: 1.7em;
    }

    .r {
        font-size: 0.9rem;
    }

    .r img {
        width: 50%;
        margin-bottom: 10px;
    }

    .divider {
        margin: 8px 0;
    }

    .stats-row {
        flex-direction: row;
        gap: 0.8em;
    }

    .stat-item img {
        width: 18px;
        height: 18px;
        margin-right: 2px;
    }

    .stat-item p {
        font-size: 1em;
    }

    .pocket-right {
        width: 90%;
        margin-top: 80px;
        padding: 20px;
        text-align: start;
        border-radius: 20px;
        opacity: 0.9;
        margin-left: 50px;
        /* text-align: center; */
    }

    .pocket-right h2, .pocket-right span {
        font-size: 1.7em;
    }

    .pocket-right p {
        font-size: 0.9em;
    }
}