.news {
    background-image: url('../../../assets/newsbg.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    color: white;
}

.new-bg {
    text-align: left;
    margin-top: 3%;
    margin-left: 12%;
    font-size: 1.4em;
}

.news-content {
    padding: 2% 5%;
}

.news-content h2 {
    margin-top: 3%;
    font-weight: normal;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 2%;
}

.news-cards {
    display: flex;
    margin-top: 3%;
    justify-content: center;
    flex-wrap: wrap;
}

.news-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 17.8vw;
    /* height: 37.6vh; */
    /* width: 20%;
    height: 38vh; */
    /* padding: 20px !important; */
    margin: 12px;
    box-shadow: 3px 4px 8px rgba(0.1, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.news-card img {
    margin-top: 1%;
    width: 18vw;
    /* width: 100%; */
    height: auto;
    object-fit: cover;
}

.news-text {
    padding: 1em;
    text-align: center;
}

.news-text span {
    font-size: 0.9em;
    color: gray;
    display: block;
    margin-top: 3%;
}

.news-text p {
    margin-top: 10%;
    font-size: 1em;
    margin-bottom: 1.6em;
}

.read-more {
    background-color: transparent;
    border: none;
    color: #1e64f0;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .news {
        height: 35vh;
        padding-left: 2%;

    }

    .new-bg {
        font-size: 1.2em;
        margin-top: 2%;
        margin-left: 5%;
    }

    .news-content {
        padding: 2% 3%;
    }

    .news-content h2 {
        font-size: 1.7em;
        margin-bottom: 3%;
        margin-top: 10%;
    }

    .news-cards {
        margin-top: 5%;
    }

    .news-card {
        width: 70%;
        height: auto;
        margin-bottom: 20px;
        padding: 10px;
    }

    .news-text p {
        margin-top: 5%;
        margin-bottom: 1.2em;
        font-size: 0.9em;
    }

    .read-more {
        margin-top: 15%;
    }
}